In [1]:
import pandas as pd
import numpy as np

In [8]:
# 节约内存的一个标配函数
import time
def reduce_memory(df):
    starttime = time.time()
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if pd.isnull(c_min) or pd.isnull(c_max):
                continue
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
    end_mem = df.memory_usage().sum() / 1024**2
    print('-- Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction),time spend:{:2.2f} min'.format(end_mem,
                                                                                                           100*(start_mem-end_mem)/start_mem,
                                                                                                           (time.time()-starttime)/60))
    return df

import gc #（garbage collector）
#del a
#gc.collect()

In [15]:
data_dir = 'C:/ZhangLI/Codes/DataSet/爱奇艺用户留存预测/'
user_port = pd.read_csv(data_dir+'user_portrait_data.csv')  # 40M

In [16]:
app_launch = pd.read_csv(data_dir+'app_launch_logs.csv')  # 194M

In [17]:
video_related = pd.read_csv(data_dir + 'video_related_data.csv')  # 162M

In [18]:
user_playback = pd.read_csv(data_dir + 'user_playback_data.csv', nrows=100000)  # 2168M

In [19]:
user_interaction = pd.read_csv(data_dir + 'user_interaction_data.csv')  # 6M

In [20]:
user_playback = reduce_memory(user_playback)

-- Mem. usage decreased to  1.14 Mb (62.5% reduction),time spend:0.00 min

In [21]:
user_playback.memory_usage().sum()/ (1024**2)

1.14453125

In [22]:
user_port.memory_usage().sum()/ (1024**2)  
app_launch.memory_usage().sum()/ (1024**2)  
video_related.memory_usage().sum()/ (1024**2)  
user_playback.memory_usage().sum()/ (1024**2) 
user_interaction.memory_usage().sum()/ (1024**2)

6.0611572265625

In [27]:
# user and app launch
app_launch

          user_id  launch_type  date
0        10157996            0   129
1        10139583            0   129
2        10277501            0   129
3        10099847            0   129
4        10532773            0   129
...           ...          ...   ...
8493873  10184712            0   145
8493874  10418703            0   145
8493875  10313492            0   145
8493876  10239105            0   145
8493877  10333944            0   145

[8493878 rows x 3 columns]

In [25]:
# the info of user watch video
user_playback  # 用户观看视频 的信息  
# 用户的留存   比如 131登录 在 132出现的概率
# 用户 看一个 item_id 的时间

        user_id     item_id     playtime  date
0      10057286  20628284.0  2208.000000   145
1      10522615  23930556.0    31.046875   145
2      10494028  20173700.0   115.937500   145
3      10181987  21350426.0     1.584961   145
4      10439175  22946928.0    51.718750   145
...         ...         ...          ...   ...
99995  10308552  20945600.0  2960.000000   109
99996  10097449  23503064.0   125.375000   109
99997  10119614  21092956.0  2908.000000   109
99998  10045616  21444552.0   712.500000   109
99999  10529875  22422186.0   112.000000   109

[100000 rows x 4 columns]

In [26]:
user_interaction  # 数据压缩， 数据对其

         user_id   item_id  interact_type  date
0       10243056  22635954              1   213
1       10203565  24723827              3   213
2       10317559  20413036              2   213
3       10158940  23833050              1   213
4       10376271  22218154              1   213
...          ...       ...            ...   ...
198603  10407802  22901903             10   181
198604  10407802  22901903             10   181
198605  10407802  22901903             10   181
198606  10407802  20797334              7   181
198607  10407802  20797334             10   181

[198608 rows x 4 columns]

In [29]:
launch_grp = app_launch.groupby('user_id').agg(launch_date=('date',list), launch_type=('launch_type', list)).reset_index()

In [30]:
launch_grp

,user_id,launch_date,launch_type
0,10000000,"[195, 192, 196, 193, 191, 141, 187, 202, 132, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10000001,"[118, 117, 114]","[0, 0, 0]"
2,10000002,"[129, 144, 128, 140, 163, 160]","[0, 0, 0, 0, 0, 0]"
3,10000003,"[144, 144]","[1, 0]"
4,10000004,"[157, 154, 155, 156]","[0, 0, 0, 0]"
...,...,...,...
599995,10599995,"[196, 174, 197, 190, 189, 155, 201, 175, 165, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1]"
599996,10599996,"[185, 209, 207, 187, 189, 213, 184, 199, 210, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
599997,10599997,"[115, 159, 160, 166, 161, 157, 163, 158, 134, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
599998,10599998,"[137, 160, 182, 159, 107]","[0, 0, 0, 0, 0]"
599999,10599999,"[144, 155, 211, 141, 182, 136, 134, 173, 191, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [31]:
# 为每个用户生成一个样本，
test_launch = launch_grp.loc[0:3, :]
def get_d(list_date):
    n1, n2 = min(list_date), max(list_date)
    # print(n1, n2)
    if n1 < n2-7:
        end_date = np.random.randint(n1, n2 - 7)
    else:
        end_date = np.random.randint(100, 222 - 7)
    return end_date
    
launch_grp['end_date'] = launch_grp.launch_date.apply(get_d)

def get_label(row):
    launch_list = row.launch_date
    end = row.end_date
    # print(end, set(launch_list))
    label = sum([1 for x in set(launch_list) if end < x < end+8])
    return label
launch_grp["label"] = launch_grp.apply(get_label, axis=1)

test_launch  # 构架标签的方式 也是上分的点， 这个方法可以增加数据量
launch_grp.label.value_counts()

# train = launch_grp

In [32]:
#test_without_label.csv
#submit_example.csv
# 提交 
train = launch_grp[["user_id", "end_date", "label"]]
train
test = pd.read_csv(data_dir + 'test_without_label.csv')
test['label'] = -1
# 提交表格
# test = pd.read_csv(data_dir + 'submit_example.csv')
data = pd.concat([train, test], ignore_index=True)
data

         user_id  end_date  label
0       10000000       133      0
1       10000001       208      0
2       10000002       147      0
3       10000003       129      0
4       10000004       181      0
...          ...       ...    ...
614996  10355586       205     -1
614997  10589773       210     -1
614998  10181954       218     -1
614999  10544736       164     -1
615000  10354569       187     -1

[615001 rows x 3 columns]

In [34]:
test

,user_id,end_date,label,launch_type,launch_date
0,10007813,205,-1,"[0, 1]","[118, 141]"
1,10052988,210,-1,"[0, 0]","[149, 147]"
2,10279068,200,-1,"[1, 0, 0, 0, 0, 0, 1, 1]","[178, 181, 196, 197, 179, 180, 158, 134]"
3,10546696,216,-1,"[0, 0, 0, 0, 1, 0, 0, 0, 0]","[207, 208, 204, 156, 178, 179, 184, 187, 185]"
4,10406659,183,-1,"[0, 0, 0]","[113, 141, 104]"
...,...,...,...,...,...
14996,10355586,205,-1,"[0, 1, 0]","[118, 115, 124]"
14997,10589773,210,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[183, 144, 173, 167, 203, 204, 178, 155, 177, ..."
14998,10181954,218,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[152, 155, 153, 144, 150, 143, 158, 151, 154, ..."
14999,10544736,164,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[138, 117, 105, 148, 113, 116, 115, 158, 154, ..."
15000,10354569,187,-1,"[0, 0, 0, 0, 0, 0, 0, 0]","[121, 157, 141, 122, 143, 167, 136, 138]"

In [33]:
# 登录数据的处理
test = test.merge(launch_grp[["user_id", "launch_type", "launch_date"]], how="left", on="user_id")
launch_grp = launch_grp.append(test)
  # ignore_index=True default=False
launch_grp

,user_id,launch_date,launch_type,end_date,label
0,10000000,"[195, 192, 196, 193, 191, 141, 187, 202, 132, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",133,0
1,10000001,"[118, 117, 114]","[0, 0, 0]",208,0
2,10000002,"[129, 144, 128, 140, 163, 160]","[0, 0, 0, 0, 0, 0]",147,0
3,10000003,"[144, 144]","[1, 0]",129,0
4,10000004,"[157, 154, 155, 156]","[0, 0, 0, 0]",181,0
...,...,...,...,...,...
14996,10355586,"[118, 115, 124]","[0, 1, 0]",205,-1
14997,10589773,"[183, 144, 173, 167, 203, 204, 178, 155, 177, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",210,-1
14998,10181954,"[152, 155, 153, 144, 150, 143, 158, 151, 154, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",218,-1
14999,10544736,"[138, 117, 105, 148, 113, 116, 115, 158, 154, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",164,-1
15000,10354569,"[121, 157, 141, 122, 143, 167, 136, 138]","[0, 0, 0, 0, 0, 0, 0, 0]",187,-1

In [ ]:
# 获取最后31天的登录方式
launch_grp.launch_date

In [36]:
# 获取最近31天的登录情况， 这个写的很巧妙， 首先对两个进行排序，然后groupby取最大，之后再进行操作
from itertools import groupby
def gen_launch_seq(row):
    seq_sort = sorted(zip(row.launch_type, row.launch_date), key=lambda x: x[1])
    seq_map = {k: max(g)[0] + 1 for k, g in groupby(seq_sort, lambda x: x[1])}
    end = row.end_date
    seq = [seq_map.get(x, 0) for x in range(end-31, end+1)]
    return seq
launch_grp["launch_seq"] = launch_grp.apply(gen_launch_seq, axis=1)
launch_grp

# 最后只要了 launch_seq

,user_id,launch_date,launch_type,end_date,label,launch_seq
0,10000000,"[195, 192, 196, 193, 191, 141, 187, 202, 132, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",133,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10000001,"[118, 117, 114]","[0, 0, 0]",208,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10000002,"[129, 144, 128, 140, 163, 160]","[0, 0, 0, 0, 0, 0]",147,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, ..."
3,10000003,"[144, 144]","[1, 0]",129,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,10000004,"[157, 154, 155, 156]","[0, 0, 0, 0]",181,0,"[0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...
14996,10355586,"[118, 115, 124]","[0, 1, 0]",205,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
14997,10589773,"[183, 144, 173, 167, 203, 204, 178, 155, 177, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",210,-1,"[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."
14998,10181954,"[152, 155, 153, 144, 150, 143, 158, 151, 154, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",218,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
14999,10544736,"[138, 117, 105, 148, 113, 116, 115, 158, 154, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",164,-1,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
15000,10354569,"[121, 157, 141, 122, 143, 167, 136, 138]","[0, 0, 0, 0, 0, 0, 0, 0]",187,-1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."

In [75]:
# 先不对这个进行处理
data = data.merge(
    launch_grp[["user_id", "end_date", "label", "launch_seq"]],
    on=["user_id", "end_date", "label"],
    how="left"
)
data

,user_id,end_date,label,launch_seq
0,10000000,169,0,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10000001,142,0,"[0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, ..."
2,10000002,150,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ..."
3,10000003,181,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,10000004,103,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...
614996,10355586,205,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
614997,10589773,210,-1,"[1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ..."
614998,10181954,218,-1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
614999,10544736,164,-1,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
615000,10354569,187,-1,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ..."

In [37]:
# payback date and vedio data process

# 使用 播放字段
user_playback = user_playback.merge(data, on='user_id', how='inner')
user_playback

         user_id     item_id     playtime  date  end_date  label
0       10057286  20628284.0  2208.000000   145       171      1
1       10522615  23930556.0    31.046875   145       152      0
2       10522615  21396724.0     4.855469   145       152      0
3       10494028  20173700.0   115.937500   145       142      3
4       10494028  20149012.0    75.000000   119       142      3
...          ...         ...          ...   ...       ...    ...
103677  10165276  23602628.0  1757.000000   109       106      3
103678  10337316  23716652.0  6616.000000   109       142      1
103679  10155956  22031372.0  1708.000000   109       129      6
103680  10381120  23338532.0    29.906250   109       100      7
103681  10308552  20945600.0  2960.000000   109       146      6

[103682 rows x 6 columns]

In [38]:
user_playback = user_playback.loc[(user_playback.date>=user_playback.end_date-31) & (user_playback.date<=user_playback.end_date)]

In [39]:
user_playback

         user_id     item_id     playtime  date  end_date  label
0       10057286  20628284.0  2208.000000   145       171      1
1       10522615  23930556.0    31.046875   145       152      0
2       10522615  21396724.0     4.855469   145       152      0
4       10494028  20149012.0    75.000000   119       142      3
5       10494028  23247316.0    99.875000   115       142      3
...          ...         ...          ...   ...       ...    ...
103661  10408548  21591948.0  2466.000000   109       122      0
103662  10545327  22917674.0   888.500000   109       119      6
103672  10027736  24122928.0    14.507812   109       118      2
103675  10588659  22006050.0   603.000000   109       121      6
103679  10155956  22031372.0  1708.000000   109       129      6

[43267 rows x 6 columns]

In [42]:
video_related
user_playback = user_playback.merge(video_related[video_related.item_id.notna()], how="left", on="item_id")

In [43]:
user_playback

,user_id,item_id,playtime,date,end_date,label,duration,father_id,tag_list,cast
0,10057286,20628284.0,2208.000000,145,171,1,8.0,NaN,50368673;50442296,NaN
1,10522615,23930556.0,31.046875,145,152,0,6.0,NaN,50351235;50353717;50430629;50262203;50256680;5...,NaN
2,10522615,21396724.0,4.855469,145,152,0,NaN,NaN,NaN,NaN
3,10494028,20149012.0,75.000000,119,142,3,6.0,30014599.0,50282171;50147017;50257630;50296309;50416929;5...,NaN
4,10494028,23247316.0,99.875000,115,142,3,9.0,30074835.0,50119168;50161525;50101041;50437799;50428841,NaN
...,...,...,...,...,...,...,...,...,...,...
43262,10408548,21591948.0,2466.000000,109,122,0,11.0,30093288.0,50409449;50405891;50413558;50413883;50299309;5...,40022344;40031006;40020678;40009121;40007694;4...
43263,10545327,22917674.0,888.500000,109,119,6,NaN,NaN,NaN,NaN
43264,10027736,24122928.0,14.507812,109,118,2,NaN,NaN,NaN,NaN
43265,10588659,22006050.0,603.000000,109,121,6,NaN,NaN,NaN,NaN
43266,10155956,22031372.0,1708.000000,109,129,6,11.0,30053229.0,50385463;50284105;50260120;50420012;50190425;5...,40020678;40023671;40015213;40023490;40012808;4...

In [51]:
# user target encoding

# father id target encoding

# 先拿出这两列来
df = user_playback.loc[(user_playback.label >= 0) & (user_playback.father_id.notna()), ["father_id", "label"]] 
# df['father_id'] = df['father_id'].str.split(";")

In [74]:
df = user_playback.loc[(user_playback.label >= 0) & (user_playback.father_id.notna()), ["father_id", "label"]] 
# df['father_id'] = df['father_id'].astype('string').str.split(';')
# df = df.explode('father_id')  # list 转换为列
# # 是怎么看出其中的差别来的
# overall = df["label"].mean()
# # df.groupby(name).agg(
# #         freq=("label", "count"), 
# #         in_category=("label", np.mean)
# #     ).reset_index()
# df = df.groupby('father_id').agg(freq=('label', 'count'), in_category=('label', np.mean)).reset_index()   # father_id 出现的频率  father 下 label的均值
# df["weight"] = df["freq"] / (df["freq"] + 1)  # 通过 father_id 
# df["score"] = df["weight"] * df["in_category"] + (1 - df["weight"]) * overall


def target_encoding(name, df, m=1):
    df[name] = df[name].astype('string').str.split(";")
    df = df.explode(name)
    overall = df["label"].mean()
    df = df.groupby(name).agg(
        freq=("label", "count"), 
        in_category=("label", np.mean)
    ).reset_index()
    df["weight"] = df["freq"] / (df["freq"] + m)
    df["score"] = df["weight"] * df["in_category"] + (1 - df["weight"]) * overall
    return df
# df = playback.loc[(playback.label >= 0) & (playback.father_id.notna()), ["father_id", "label"]]
father_id_score = target_encoding("father_id", df)
father_id_score

       father_id  freq  in_category    weight     score
0     30000008.0     1          2.0  0.500000  2.850389
1     30000017.0     1          3.0  0.500000  3.350389
2     30000024.0     5          2.0  0.833333  2.283463
3     30000062.0     1          1.0  0.500000  2.350389
4     30000070.0     1          1.0  0.500000  2.350389
...          ...   ...          ...       ...       ...
5409  30094532.0     1          5.0  0.500000  4.350389
5410  30094551.0     1          7.0  0.500000  5.350389
5411  30094573.0     1          5.0  0.500000  4.350389
5412  30094581.0     1          4.0  0.500000  3.850389
5413  30094613.0     2          4.0  0.666667  3.900259

[5414 rows x 5 columns]

In [77]:
# tag_id target encoding
df = user_playback.loc[(user_playback.label >= 0) & (user_playback.tag_list.notna()), ["tag_list", "label"]]
tag_id_score = target_encoding("tag_list", df)
tag_id_score.rename({"tag_list": "tag_id"}, axis=1, inplace=True)
tag_id_score

         tag_id  freq  in_category    weight     score
0      50000012     1     0.000000  0.500000  1.840181
1      50000015     3     5.000000  0.750000  4.670091
2      50000020     3     2.000000  0.750000  2.420091
3      50000031     2     2.000000  0.666667  2.560121
4      50000037    12     1.750000  0.923077  1.898489
...         ...   ...          ...       ...       ...
22546  50448482     1     5.000000  0.500000  4.340181
22547  50448492    14     3.571429  0.933333  3.578691
22548  50448510    28     4.107143  0.965517  4.092426
22549  50448521     2     5.500000  0.666667  4.893454
22550  50448536     1     7.000000  0.500000  5.340181

[22551 rows x 5 columns]

In [79]:
# cast_id target encoding
df = user_playback.loc[(user_playback.label >= 0) & (user_playback.cast.notna()), ["cast", "label"]]
cast_id_score = target_encoding("cast", df)
cast_id_score.rename({"cast": "cast_id"}, axis=1, inplace=True)
cast_id_score

       cast_id  freq  in_category    weight     score
0     40000001     1          0.0  0.500000  1.772780
1     40000003     2          3.5  0.666667  3.515187
2     40000009     1          2.0  0.500000  2.772780
3     40000022     1          6.0  0.500000  4.772780
4     40000029     4          4.0  0.800000  3.909112
...        ...   ...          ...       ...       ...
7574  40041226     2          3.5  0.666667  3.515187
7575  40041230     1          3.0  0.500000  3.272780
7576  40041231     1          2.0  0.500000  2.772780
7577  40041236     2          2.0  0.666667  2.515187
7578  40041237     1          6.0  0.500000  4.772780

[7579 rows x 5 columns]

In [80]:
user_playback

,user_id,item_id,playtime,date,end_date,label,duration,father_id,tag_list,cast
0,10057286,20628284.0,2208.000000,145,171,1,8.0,NaN,50368673;50442296,NaN
1,10522615,23930556.0,31.046875,145,152,0,6.0,NaN,50351235;50353717;50430629;50262203;50256680;5...,NaN
2,10522615,21396724.0,4.855469,145,152,0,NaN,NaN,NaN,NaN
3,10494028,20149012.0,75.000000,119,142,3,6.0,30014599.0,50282171;50147017;50257630;50296309;50416929;5...,NaN
4,10494028,23247316.0,99.875000,115,142,3,9.0,30074835.0,50119168;50161525;50101041;50437799;50428841,NaN
...,...,...,...,...,...,...,...,...,...,...
43262,10408548,21591948.0,2466.000000,109,122,0,11.0,30093288.0,50409449;50405891;50413558;50413883;50299309;5...,40022344;40031006;40020678;40009121;40007694;4...
43263,10545327,22917674.0,888.500000,109,119,6,NaN,NaN,NaN,NaN
43264,10027736,24122928.0,14.507812,109,118,2,NaN,NaN,NaN,NaN
43265,10588659,22006050.0,603.000000,109,121,6,NaN,NaN,NaN,NaN
43266,10155956,22031372.0,1708.000000,109,129,6,11.0,30053229.0,50385463;50284105;50260120;50420012;50190425;5...,40020678;40023671;40015213;40023490;40012808;4...

In [81]:
# group playback data for engineering
playback_grp = user_playback.groupby(["user_id", "end_date", "label"]).agg(
    playtime_list=("playtime", list),
    date_list=("date", list),
    duration_list=("duration", lambda x: ";".join(map(str, x))),
    father_id_list=("father_id", lambda x: ";".join(map(str, x))),
    tag_list=("tag_list", lambda x: ";".join(map(str, x))),
    cast_list=("cast", lambda x: ";".join(map(str, x)))
).reset_index()
playback_grp

,user_id,end_date,label,playtime_list,date_list,duration_list,father_id_list,tag_list,cast_list
0,10000011,101,0,[3074.0],[100],nan,nan,nan,nan
1,10000019,162,1,"[199.0, 157.625]","[150, 151]",nan;11.0,nan;30058300.0,nan;50331949,nan;nan
2,10000021,166,0,[44.59375],[146],7.0,30025858.0,50096874;50197703;50171190;50366686;50413883;5...,40017088
3,10000030,115,1,[1.8330078125],[115],nan,nan,nan,nan
4,10000039,125,0,"[79.6875, 195.0, 11.625, 276.75, 96.25, 127.25]","[114, 114, 114, 114, 114, 121]",2.0;7.0;7.0;8.0;6.0;7.0,nan;nan;nan;nan;30011946.0;nan,nan;50350272;50366146;50240385;50049136;501642...,nan;nan;nan;nan;40017248;40009769;40035299;400...
...,...,...,...,...,...,...,...,...,...
24275,10599901,131,6,"[300.5, 15.4765625]","[119, 123]",nan;nan,nan;nan,nan;nan,nan;nan
24276,10599932,144,1,"[363.25, 186.375]","[115, 121]",8.0;8.0,nan;30054516.0,50199536;50441183;50353717;50150172;50188200;5...,nan;nan
24277,10599945,134,4,[123.25],[121],6.0,nan,50323515;50425068,nan
24278,10599976,100,3,[59.21875],[100],nan,nan,nan,nan
24279,10599979,121,4,"[92.0625, 140.625, 4.71484375, 195.625, 15.390...","[100, 107, 100, 111, 110, 115, 112, 109, 121]",nan;8.0;6.0;7.0;nan;8.0;4.0;6.0;5.0,nan;30007895.0;30056564.0;30092014.0;nan;30054...,nan;50287440;50253121;50446762;50381252;504464...,nan;40030691;nan;nan;nan;nan;nan;nan;nan

In [103]:
l = [199.0, 157.625, 156]
ll = [150, 151, 151]
end_date = 162
seq_sort = sorted(zip(l, ll), key=lambda x: x[1])  # 在这一天看的时间
seq_map = {k:sum(i[0] for i in g) for k, g in groupby(seq_sort, key=lambda x: x[1])}


seq_norm = {k: 1/(1+np.exp(3-v/450)) for k, v in seq_map.items()}
seq_norm
seq = [round(seq_norm.get(i, 0), 4) for i in range(end_date-31, end_date+1)]

In [104]:
def get_playtime_seq(row):
    seq_sort = sorted(zip(row.playtime_list, row.date_list), key=lambda x: x[1])
    seq_map = {k: sum(x[0] for x in g) for k, g in groupby(seq_sort, key=lambda x: x[1])}
    seq_norm = {k: 1/(1+np.exp(3-v/450)) for k, v in seq_map.items()}
    seq = [round(seq_norm.get(i, 0), 4) for i in range(row.end_date-31, row.end_date+1)]
    return seq
playback_grp["playtime_seq"] = playback_grp.apply(get_playtime_seq, axis=1)
playback_grp

,user_id,end_date,label,playtime_list,date_list,duration_list,father_id_list,tag_list,cast_list,playtime_seq
0,10000011,101,0,[3074.0],[100],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,10000019,162,1,"[199.0, 157.625]","[150, 151]",nan;11.0,nan;30058300.0,nan;50331949,nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,10000021,166,0,[44.59375],[146],7.0,30025858.0,50096874;50197703;50171190;50366686;50413883;5...,40017088,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0521, 0, 0..."
3,10000030,115,1,[1.8330078125],[115],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,10000039,125,0,"[79.6875, 195.0, 11.625, 276.75, 96.25, 127.25]","[114, 114, 114, 114, 114, 121]",2.0;7.0;7.0;8.0;6.0;7.0,nan;nan;nan;nan;30011946.0;nan,nan;50350272;50366146;50240385;50049136;501642...,nan;nan;nan;nan;40017248;40009769;40035299;400...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...,...,...,...,...
24275,10599901,131,6,"[300.5, 15.4765625]","[119, 123]",nan;nan,nan;nan,nan;nan,nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
24276,10599932,144,1,"[363.25, 186.375]","[115, 121]",8.0;8.0,nan;30054516.0,50199536;50441183;50353717;50150172;50188200;5...,nan;nan,"[0, 0, 0.1004, 0, 0, 0, 0, 0, 0.0701, 0, 0, 0,..."
24277,10599945,134,4,[123.25],[121],6.0,nan,50323515;50425068,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
24278,10599976,100,3,[59.21875],[100],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
24279,10599979,121,4,"[92.0625, 140.625, 4.71484375, 195.625, 15.390...","[100, 107, 100, 111, 110, 115, 112, 109, 121]",nan;8.0;6.0;7.0;nan;8.0;4.0;6.0;5.0,nan;30007895.0;30056564.0;30092014.0;nan;30054...,nan;50287440;50253121;50446762;50381252;504464...,nan;40030691;nan;nan;nan;nan;nan;nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0581, 0, 0, 0..."

In [125]:
# 确定这个问题  需要看全部的 duration的存在的值的情况
# 后面有没有使用这个字段？
# 以及最后对模型的影响
# video_related.duration.max()
# l = 'nan;8.0;6.0;7.0;nan;8.0;4.0;6.0;5.0'
# drn_list = sorted(l.split(";"))
# drn_map = {k: sum(1 for _ in g) for k, g in groupby(drn_list) if k != "nan"}
# max_ = max(drn_map.values())
# print(drn_map)
# [round(drn_map.get(str(i), 0)/max_, 4) for i in range(1, 17)]
# for i in range(1, 17):
# #     print(str(i))
#     print(drn_map.get(str(i)+'.0', 0)/max_)
    
def get_duration_prefer(duration_list):
    drn_list = sorted(duration_list.split(";"))
    drn_map = {k: sum(1 for _ in g) for k, g in groupby(drn_list) if k != "nan"}
    if drn_map:
        max_ = max(drn_map.values())
        res = [round(drn_map.get(str(i)+'.0', 0)/max_, 4) for i in range(1, 17)]   # 这里这个函数有多改变
        return res
    else:
        return np.nan
playback_grp["duration_prefer"] = playback_grp.duration_list.apply(get_duration_prefer)
playback_grp

,user_id,end_date,label,playtime_list,date_list,duration_list,father_id_list,tag_list,cast_list,playtime_seq,duration_prefer
0,10000011,101,0,[3074.0],[100],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
1,10000019,162,1,"[199.0, 157.625]","[150, 151]",nan;11.0,nan;30058300.0,nan;50331949,nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,10000021,166,0,[44.59375],[146],7.0,30025858.0,50096874;50197703;50171190;50366686;50413883;5...,40017088,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0521, 0, 0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
3,10000030,115,1,[1.8330078125],[115],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
4,10000039,125,0,"[79.6875, 195.0, 11.625, 276.75, 96.25, 127.25]","[114, 114, 114, 114, 114, 121]",2.0;7.0;7.0;8.0;6.0;7.0,nan;nan;nan;nan;30011946.0;nan,nan;50350272;50366146;50240385;50049136;501642...,nan;nan;nan;nan;40017248;40009769;40035299;400...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.3333, 0.0, 0.0, 0.0, 0.3333, 1.0, 0.33..."
...,...,...,...,...,...,...,...,...,...,...,...
24275,10599901,131,6,"[300.5, 15.4765625]","[119, 123]",nan;nan,nan;nan,nan;nan,nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
24276,10599932,144,1,"[363.25, 186.375]","[115, 121]",8.0;8.0,nan;30054516.0,50199536;50441183;50353717;50150172;50188200;5...,nan;nan,"[0, 0, 0.1004, 0, 0, 0, 0, 0, 0.0701, 0, 0, 0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ..."
24277,10599945,134,4,[123.25],[121],6.0,nan,50323515;50425068,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ..."
24278,10599976,100,3,[59.21875],[100],nan,nan,nan,nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN
24279,10599979,121,4,"[92.0625, 140.625, 4.71484375, 195.625, 15.390...","[100, 107, 100, 111, 110, 115, 112, 109, 121]",nan;8.0;6.0;7.0;nan;8.0;4.0;6.0;5.0,nan;30007895.0;30056564.0;30092014.0;nan;30054...,nan;50287440;50253121;50446762;50381252;504464...,nan;40030691;nan;nan;nan;nan;nan;nan;nan,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0581, 0, 0, 0...","[0.0, 0.0, 0.0, 0.5, 0.5, 1.0, 0.5, 1.0, 0.0, ..."

In [135]:
# get all target encoding to dict
id_score = dict()
id_score.update({x[1]: x[5] for x in father_id_score.itertuples()})
id_score.update({x[1]: x[5] for x in tag_id_score.itertuples()})
id_score.update({x[1]: x[5] for x in cast_id_score.itertuples()})
id_score
father_id_score.shape[0]+tag_id_score.shape[0]+cast_id_score.shape[0] == len(id_score)

True

In [138]:
playback_grp.father_id_list

0                                                      nan
1                                           nan;30058300.0
2                                               30025858.0
3                                                      nan
4                           nan;nan;nan;nan;30011946.0;nan
                               ...
24275                                              nan;nan
24276                                       nan;30054516.0
24277                                                  nan
24278                                                  nan
24279    nan;30007895.0;30056564.0;30092014.0;nan;30054...
Name: father_id_list, Length: 24280, dtype: object

In [159]:
# # father_id_score tag_id_score cast_id_score
# l = 'nan;nan;nan;nan;30011946.0;nan'
# x = sorted(l.split(";"))  # 如果
# x_count = {k: sum(1 for _ in g) for k, g in groupby(x) if k != "nan"}
# print(x_count)
# x_count = {'30011946.0': 1, '30011945':2, '30011947':3}
# x_sort = sorted(x_count.items(), key=lambda k: -k[1])  # sorted 排序直接 - 就ok
# top_x = x_sort[:3]
# # for k, v in x_count.items():
# #     print(k, v)
# top_x
# res = [(n, id_score.get(k, 0)) for k, n in top_x]  # 这个 是 father_id的得分， father_id的意思
# sum(n*v for n, v in res) / sum(n for n, v in res)  # 这里的这个得分是否合理
# # 得到 father_id_list  的得分
# for these 3 features: father_id_score, cast_score, tag_score,
# choose top 3 preferences
# e.g top_3_id = [(id, freq), (id, freq), (id, freq)]
# score = weight_avg(top_3_id), which values are id_score, weights are frequency
# if the id_list is all null, then return null
def get_id_score(id_list):
    x = sorted(id_list.split(";"))
    x_count = {k: sum(1 for _ in g) for k, g in groupby(x) if k != "nan"}
    if x_count:
        x_sort = sorted(x_count.items(), key=lambda k: -k[1])
        top_x = x_sort[:3]
        res = [(n, id_score.get(k, 0)) for k, n in top_x]  # 需要特别注意 get函数是否能得到正确的值
        res = sum(n*v for n, v in res) / sum(n for n, v in res)
        return res
    else:
        return np.nan
playback_grp["father_id_score"] = playback_grp.father_id_list.apply(get_id_score)
playback_grp["cast_id_score"] = playback_grp.cast_list.apply(get_id_score)
playback_grp["tag_score"] = playback_grp.tag_list.apply(get_id_score)

In [164]:
playback_grp[["user_id", "end_date", "label", "playtime_seq", "duration_prefer", "father_id_score", "cast_id_score", "tag_score"]]
# id_score

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score
0,10000011,101,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,NaN,NaN,NaN
1,10000019,162,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",3.340155,NaN,3.995849
2,10000021,166,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0521, 0, 0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ...",2.900259,2.848520,3.052111
3,10000030,115,1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,NaN,NaN,NaN
4,10000039,125,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.3333, 0.0, 0.0, 0.0, 0.3333, 1.0, 0.33...",1.850389,2.579828,3.539620
...,...,...,...,...,...,...,...,...
24275,10599901,131,6,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,NaN,NaN,NaN
24276,10599932,144,1,"[0, 0, 0.1004, 0, 0, 0, 0, 0, 0.0701, 0, 0, 0,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, ...",3.925194,NaN,2.814252
24277,10599945,134,4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, ...",NaN,NaN,3.660773
24278,10599976,100,3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",NaN,NaN,NaN,NaN
24279,10599979,121,4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0581, 0, 0, 0...","[0.0, 0.0, 0.0, 0.5, 0.5, 1.0, 0.5, 1.0, 0.0, ...",4.018502,3.984660,3.749655

In [163]:
data = data.merge(
    playback_grp[["user_id", "end_date", "label", "playtime_seq", "duration_prefer", "father_id_score", "cast_id_score", "tag_score"]],
    on=["user_id", "end_date", "label"],
    how="left"
)
data
# 后面看 playtime_seq  duration_prefer 怎么处理

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score
0,10000000,133,0,NaN,NaN,NaN,NaN,NaN
1,10000001,208,0,NaN,NaN,NaN,NaN,NaN
2,10000002,147,0,NaN,NaN,NaN,NaN,NaN
3,10000003,129,0,NaN,NaN,NaN,NaN,NaN
4,10000004,181,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
614996,10355586,205,-1,NaN,NaN,NaN,NaN,NaN
614997,10589773,210,-1,NaN,NaN,NaN,NaN,NaN
614998,10181954,218,-1,NaN,NaN,NaN,NaN,NaN
614999,10544736,164,-1,NaN,NaN,NaN,NaN,NaN
615000,10354569,187,-1,NaN,NaN,NaN,NaN,NaN

In [168]:
data

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score
0,10000000,133,0,NaN,NaN,NaN,NaN,NaN
1,10000001,208,0,NaN,NaN,NaN,NaN,NaN
2,10000002,147,0,NaN,NaN,NaN,NaN,NaN
3,10000003,129,0,NaN,NaN,NaN,NaN,NaN
4,10000004,181,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
614996,10355586,205,-1,NaN,NaN,NaN,NaN,NaN
614997,10589773,210,-1,NaN,NaN,NaN,NaN,NaN
614998,10181954,218,-1,NaN,NaN,NaN,NaN,NaN
614999,10544736,164,-1,NaN,NaN,NaN,NaN,NaN
615000,10354569,187,-1,NaN,NaN,NaN,NaN,NaN

In [175]:
user_port
# user_port = pd.merge(data[["user_id", "label"]], user_port, how="left", on="user_id")  
df = user_port.loc[(user_port.label >= 0) & (user_port.territory_code.notna()), ["territory_code", "label"]]  # territory_code 用户的常驻地编号
territory_score = target_encoding("territory_code", df)  # 这个的用处应该不大  所以目标变量的一个encoding
territory_score

    territory_code   freq  in_category    weight     score
0         860000.0      1     1.000000  0.500000  1.196420
1         861100.0  13929     1.639673  0.999928  1.639655
2         861200.0   7170     1.526360  0.999861  1.526341
3         861301.0   5102     1.531164  0.999804  1.531137
4         861302.0   3074     1.433312  0.999675  1.433298
..             ...    ...          ...       ...       ...
368       867107.0     14     1.571429  0.933333  1.559523
369       867108.0     38     1.657895  0.974359  1.651098
370       867109.0     11     1.000000  0.916667  1.032737
371       868100.0    135     0.933333  0.992647  0.936712
372       868200.0     47     0.936170  0.979167  0.945684

[373 rows x 5 columns]

In [182]:
n1 = len(id_score)
n1
id_score.update({x[1]: x[5] for x in territory_score.itertuples()})
n1 + territory_score.shape[0] == len(id_score)
user_port["territory_score"] = user_port.territory_code.apply(lambda x: id_score.get(x, 0) if isinstance(x, str) else np.nan)
portrait = user_port
portrait["device_ram"] = portrait.device_ram.apply(lambda x: float(x.split(";")[0]) if isinstance(x, str) else np.nan)
portrait["device_rom"] = portrait.device_rom.apply(lambda x: float(x.split(";")[0]) if isinstance(x, str) else np.nan)
portrait

,user_id,label,label_x,label_y,device_type,device_ram,device_rom,sex,age,education,occupation_status,territory_code,territory_score
0,10000000,0,0,0,2.0,7465.0,112369.0,1.0,4.0,0.0,1.0,864313.0,NaN
1,10000001,0,0,0,3.0,1021.0,15999.0,2.0,3.0,2.0,0.0,863100.0,NaN
2,10000002,0,0,0,1.0,3117.0,255978.0,2.0,4.0,2.0,1.0,861200.0,NaN
3,10000003,0,0,0,2.0,3799.0,54204.0,1.0,4.0,0.0,1.0,864304.0,NaN
4,10000004,0,0,0,2.0,11300.0,463992.0,2.0,3.0,0.0,0.0,862301.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
705003,10544736,-1,-1,-1,3.0,1019.0,15999.0,2.0,4.0,0.0,1.0,863202.0,NaN
705004,10354569,-1,3,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,866501.0,NaN
705005,10354569,-1,3,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,866501.0,NaN
705006,10354569,-1,-1,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,866501.0,NaN
705007,10354569,-1,-1,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,866501.0,NaN

In [183]:
# add portrait features into data
data = data.merge(portrait.drop("territory_code", axis=1), how="left", on=["user_id", "label"])
data

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score,label_x,label_y,device_type,device_ram,device_rom,sex,age,education,occupation_status,territory_score
0,10000000,133,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,7465.0,112369.0,1.0,4.0,0.0,1.0,NaN
1,10000001,208,0,NaN,NaN,NaN,NaN,NaN,0,0,3.0,1021.0,15999.0,2.0,3.0,2.0,0.0,NaN
2,10000002,147,0,NaN,NaN,NaN,NaN,NaN,0,0,1.0,3117.0,255978.0,2.0,4.0,2.0,1.0,NaN
3,10000003,129,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,3799.0,54204.0,1.0,4.0,0.0,1.0,NaN
4,10000004,181,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,11300.0,463992.0,2.0,3.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705003,10544736,164,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,3.0,1019.0,15999.0,2.0,4.0,0.0,1.0,NaN
705004,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN
705005,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN
705006,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN
705007,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN

In [186]:
user_interaction
interact_grp = user_interaction.groupby("user_id").agg(
    interact_type=("interact_type", list)
).reset_index()
interact_grp  # 是不是不同类型的交互种类
# similar to duration preference, the interact_type preference could be a 11-dimentional vector
def get_interact_prefer(interact_type):
    x = sorted(interact_type)
    x_count = {k: sum(1 for _ in g) for k, g in groupby(x)}
    x_max = max(x_count.values())
    res = [round(x_count.get(i, 0)/x_max, 4) for i in range(1, 12)]
    return res
interact_grp["interact_prefer"] = interact_grp.interact_type.apply(get_interact_prefer)
interact_grp

,user_id,interact_type,interact_prefer
0,10000069,"[9, 9]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ..."
1,10000078,[10],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,10000107,"[1, 1, 8, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1.0, 0.0, 0.0, 0.0, 0.0556, 0.0, 0.0, 0.1667,..."
3,10000126,[1],"[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,10000164,"[10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...
19941,10599761,"[10, 10, 9, 10, 7, 10, 7]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5, 0.0, 0.25,..."
19942,10599879,[7],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
19943,10599887,[5],"[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ..."
19944,10599985,"[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, ..."
19945,10599996,"[10, 10, 10, 10, 10, 10, 10, 10, 10, 10]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [187]:
data = data.merge(interact_grp[["user_id", "interact_prefer"]], on="user_id", how="left")
data

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score,label_x,label_y,device_type,device_ram,device_rom,sex,age,education,occupation_status,territory_score,interact_prefer
0,10000000,133,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,7465.0,112369.0,1.0,4.0,0.0,1.0,NaN,NaN
1,10000001,208,0,NaN,NaN,NaN,NaN,NaN,0,0,3.0,1021.0,15999.0,2.0,3.0,2.0,0.0,NaN,NaN
2,10000002,147,0,NaN,NaN,NaN,NaN,NaN,0,0,1.0,3117.0,255978.0,2.0,4.0,2.0,1.0,NaN,NaN
3,10000003,129,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,3799.0,54204.0,1.0,4.0,0.0,1.0,NaN,NaN
4,10000004,181,0,NaN,NaN,NaN,NaN,NaN,0,0,2.0,11300.0,463992.0,2.0,3.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705003,10544736,164,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,3.0,1019.0,15999.0,2.0,4.0,0.0,1.0,NaN,NaN
705004,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN,NaN
705005,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN,NaN
705006,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,3,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN,NaN
705007,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,2.0,7606.0,113406.0,2.0,3.0,2.0,0.0,NaN,NaN

In [188]:
# feature_norm  
norm_cols = ["father_id_score", "cast_id_score", "tag_score", 
            "device_type", "device_ram", "device_rom", "sex",
            "age", "education", "occupation_status", "territory_score"]
for col in norm_cols:
    mean = data[col].mean()
    std = data[col].std()
    data[col] = (data[col] - mean) / std
data

,user_id,end_date,label,playtime_seq,duration_prefer,father_id_score,cast_id_score,tag_score,label_x,label_y,device_type,device_ram,device_rom,sex,age,education,occupation_status,territory_score,interact_prefer
0,10000000,133,0,NaN,NaN,NaN,NaN,NaN,0,0,0.196042,1.031797,-0.147232,-0.96102,0.828917,-0.549073,0.740369,NaN,NaN
1,10000001,208,0,NaN,NaN,NaN,NaN,NaN,0,0,2.414819,-2.051005,-1.259043,1.04056,-0.318828,2.044919,-1.350676,NaN,NaN
2,10000002,147,0,NaN,NaN,NaN,NaN,NaN,0,0,-2.022734,-1.048281,1.509571,1.04056,0.828917,2.044919,0.740369,NaN,NaN
3,10000003,129,0,NaN,NaN,NaN,NaN,NaN,0,0,0.196042,-0.722013,-0.818276,-0.96102,0.828917,-0.549073,0.740369,NaN,NaN
4,10000004,181,0,NaN,NaN,NaN,NaN,NaN,0,0,0.196042,2.866457,3.909408,1.04056,-0.318828,-0.549073,-1.350676,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705003,10544736,164,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,2.414819,-2.051962,-1.259043,1.04056,0.828917,-0.549073,0.740369,NaN,NaN
705004,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,3,0.196042,1.099251,-0.135268,1.04056,-0.318828,2.044919,-1.350676,NaN,NaN
705005,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,3,-1,0.196042,1.099251,-0.135268,1.04056,-0.318828,2.044919,-1.350676,NaN,NaN
705006,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,3,0.196042,1.099251,-0.135268,1.04056,-0.318828,2.044919,-1.350676,NaN,NaN
705007,10354569,187,-1,NaN,NaN,NaN,NaN,NaN,-1,-1,0.196042,1.099251,-0.135268,1.04056,-0.318828,2.044919,-1.350676,NaN,NaN

In [ ]:
# 比赛 必然是 训练集和测试集一起做