In [6]:
import pandas as pd

data_dir = './official_data/'
train_pub = pd.read_csv(data_dir+'train_public.csv')
train_net = pd.read_csv(data_dir+'train_internet.csv')
test_pub = pd.read_csv(data_dir+'test_public.csv')

In [7]:
train_public
train_net
test_pub

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,employer_type,industry,work_year,...,title,policy_code,f0,f1,f2,f3,f4,early_return,early_return_amount,early_return_amount_3mon
0,1000575,200575,2890.909091,3,10.791,88.01,B,幼教与中小学校,住宿和餐饮业,5 years,...,0,1,2.0,0.0,15.0,5.0,4.0,3,773,89.192308
1,1028125,228125,7272.727273,3,9.990,258.10,B,普通企业,批发和零售业,10+ years,...,6,1,8.0,0.0,8.0,29.0,14.0,1,1894,218.538462
2,1010694,210694,26295.454550,3,15.763,764.03,C,普通企业,住宿和餐饮业,10+ years,...,268,1,6.0,0.0,4.0,10.0,6.0,1,5670,1221.230769
3,1026712,226712,22690.909090,5,19.305,524.30,D,普通企业,采矿业,10+ years,...,0,1,4.0,0.0,12.0,10.0,8.0,2,4800,443.076923
4,1002895,202895,14545.454550,3,7.139,490.32,A,世界五百强,金融业,1 year,...,5,1,4.0,0.0,7.0,14.0,9.0,0,3516,649.107692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1008856,208856,9454.545455,5,12.015,183.47,C,政府机构,信息传输、软件和信息技术服务业,< 1 year,...,10595,1,NaN,NaN,NaN,NaN,NaN,0,0,0.000000
4996,1016651,216651,5500.000000,3,7.970,172.28,A,政府机构,房地产业,5 years,...,0,1,3.0,0.0,2.0,5.0,3.0,3,1564,0.000000
4997,1024140,224140,30545.454550,3,8.900,889.09,A,上市企业,房地产业,10+ years,...,21735,1,8.0,0.0,17.0,20.0,14.0,2,5456,1510.892308
4998,1014316,214316,4090.909091,3,6.030,152.18,A,政府机构,文化和体育业,10+ years,...,24272,1,1.0,0.0,6.0,10.0,10.0,3,223,41.169231
4999,1012946,212946,14727.272730,3,7.970,563.81,A,普通企业,交通运输、仓储和邮政业,4 years,...,0,1,6.0,0.0,5.0,8.0,7.0,3,1561,360.230769

In [55]:
# the different of 
train_pub.shape
# test_pub.columns
test_pub.shape
train_net.shape
test_pub.loan_id.unique().shape

# 数据中有重复的特征
# pub 和 net 中的特征表达的意义一样 -- 验证想法
train_df = pd.merge(left=train_pub, right=train_net, how='left', on=['loan_id'], suffixes=('_x', '_y'))

In [57]:
train_df.columns

Index(['loan_id', 'user_id_x', 'total_loan_x', 'year_of_loan_x', 'interest_x',
       'monthly_payment_x', 'class_x', 'employer_type_x', 'industry_x',
       'work_year_x', 'house_exist_x', 'censor_status_x', 'issue_date_x',
       'use_x', 'post_code_x', 'region_x', 'debt_loan_ratio_x',
       'del_in_18month_x', 'scoring_low_x', 'scoring_high_x',
       'known_outstanding_loan', 'known_dero', 'pub_dero_bankrup_x',
       'recircle_b_x', 'recircle_u_x', 'initial_list_status_x', 'app_type',
       'earlies_credit_mon_x', 'title_x', 'policy_code_x', 'f0_x', 'f1_x',
       'f2_x', 'f3_x', 'f4_x', 'early_return_x', 'early_return_amount_x',
       'early_return_amount_3mon_x', 'isDefault', 'user_id_y', 'total_loan_y',
       'year_of_loan_y', 'interest_y', 'monthly_payment_y', 'class_y',
       'sub_class', 'work_type', 'employer_type_y', 'industry_y',
       'work_year_y', 'house_exist_y', 'house_loan_status', 'censor_status_y',
       'marriage', 'offsprings', 'issue_date_y', 'use_y', 'post_code_y',
       'region_y', 'debt_loan_ratio_y', 'del_in_18month_y', 'scoring_low_y',
       'scoring_high_y', 'pub_dero_bankrup_y', 'early_return_y',
       'early_return_amount_y', 'early_return_amount_3mon_y', 'recircle_b_y',
       'recircle_u_y', 'initial_list_status_y', 'earlies_credit_mon_y',
       'title_y', 'policy_code_y', 'f0_y', 'f1_y', 'f2_y', 'f3_y', 'f4_y',
       'f5', 'is_default'],
      dtype='object')

In [78]:
train_net.loan_id
train_pub.isDefault.value_counts()
# train_df[['total_loan_x','total_loan_y']]

0    8317
1    1683
Name: isDefault, dtype: int64

In [83]:
train_net[train_net.user_id == 239708]

,loan_id,user_id,total_loan,year_of_loan,interest,monthly_payment,class,sub_class,work_type,employer_type,...,earlies_credit_mon,title,policy_code,f0,f1,f2,f3,f4,f5,is_default
239708,374740,239708,18000.0,3,7.69,561.49,A,A4,其他,普通企业,...,Nov-1996,0.0,1.0,6.0,0.0,17.0,14.0,9.0,7.0,1

In [100]:
# 共有 特征
len(train_pub.columns)
len(train_net.columns)
train_net['isDefault'] = train_net['is_default']
common_feature = list(set(train_pub.columns).intersection(set(train_net.columns)))
train_pub_new = train_pub[common_feature]
train_net_new = train_net[common_feature]

# test_pub

In [109]:
# 特征处理
# date type / baseline
dataframe = train_net_new
dataframe['issue_date'] = pd.to_datetime(dataframe['issue_date'])
dataframe['issue_date_y'] = dataframe['issue_date'].dt.year
dataframe['issue_date_m'] = dataframe['issue_date'].dt.month
dataframe['issue_date_d'] = dataframe['issue_date'].dt.day
# set origin date
# get the diff bewteen now and origin-date
import datetime
origin_date = datetime.datetime.strptime('2007-06-01', '%Y-%m-%d')
dataframe['issue_date_diff'] = dataframe['issue_date'].apply(lambda x: x-origin_date).dt.days
dataframe.drop('issue_date', axis = 1, inplace = True)

<ipython-input-109-c2edf280a6ae>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['issue_date'] = pd.to_datetime(dataframe['issue_date'])
<ipython-input-109-c2edf280a6ae>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['issue_date_y'] = dataframe['issue_date'].dt.year
<ipython-input-109-c2edf280a6ae>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['issue_date_m'] = dataframe['issue_date'].dt.month
<ipython-input-109-c2edf280a6ae>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['issue_date_d'] = dataframe['issue_date'].dt.day
<ipython-input-109-c2edf280a6ae>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['issue_date_diff'] = dataframe['issue_date'].apply(lambda x: x-origin_date).dt.days

In [114]:
# employer_type 
# industry
# work_year
# class
# employer_type
# industry

# 就业类型
dataframe['employer_type'].value_counts().index
# 行业
dataframe['industry'].value_counts().index
# 
dataframe['work_year'].fillna('10+ years', inplace=True)

work_year_map = {'10+ years': 10, '2 years': 2, '< 1 year': 0, '3 years': 3, '1 year': 1,
     '5 years': 5, '4 years': 4, '6 years': 6, '8 years': 8, '7 years': 7, '9 years': 9}
train1_data['work_year']  = train1_data['work_year'].map(work_year_map)
train2_data['work_year']  = train2_data['work_year'].map(work_year_map)

train1_data['class'] = train1_data['class'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6})
train2_data['class'] = train2_data['class'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5, 'G': 6})

train1_data['employer_type'] = train1_data['employer_type'].map(emp_type_dict)
train2_data['employer_type'] = train2_data['employer_type'].map(emp_type_dict)

train1_data['industry'] = train1_data['industry'].map(industry_dict)
train2_data['industry'] = train2_data['industry'].map(industry_dict)

c:\zhangli\software\installer\python38\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(