In [1]:
import pandas as pd
from tqdm import tqdm
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
path = 'E:/Dataset/新闻推荐比赛数据/'
path = 'C:/ZhangLI/Codes/DataSet/新闻推荐比赛数据/'
train = path + 'articles.csv'
train_click = path + 'train_click_log.csv'

In [3]:
# 分析用户本身的基本属性，文章用户和文章交互的一些分布，召回策略，特征工程
#####train
trn_click = pd.read_csv(path+'train_click_log.csv')
#trn_click = pd.read_csv(path+'train_click_log.csv', names=['user_id','item_id','click_time','click_environment','click_deviceGroup','click_os','click_country','click_region','click_referrer_type'])
item_df = pd.read_csv(path+'articles.csv')
item_df = item_df.rename(columns={'article_id': 'click_article_id'})  #重命名，方便后续match
# item_emb_df = pd.read_csv(path+'articles_emb.csv')

In [8]:
# data preprocess
trn_click['rank'] = trn_click.groupby(['user_id'])['click_timestamp'].rank(ascending=False).astype(int)
trn_click['click_cnts'] = trn_click.groupby(['user_id'])['click_timestamp'].transform('count')

In [10]:
# 数据合并
trn_click = trn_click.merge(item_df, how='left', on=['click_article_id'])
trn_click.head()

,user_id,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type,rank,click_cnts,category_id,created_at_ts,words_count
0,199999,160417,1507029570190,4,1,17,1,13,1,11,11,281,1506942089000,173
1,199999,5408,1507029571478,4,1,17,1,13,1,10,11,4,1506994257000,118
2,199999,50823,1507029601478,4,1,17,1,13,1,9,11,99,1507013614000,213
3,199998,157770,1507029532200,4,1,17,1,25,5,40,40,281,1506983935000,201
4,199998,96613,1507029671831,4,1,17,1,25,5,39,40,209,1506938444000,185

user_id: 用户的唯一标识  
click_article_id: 用户点击的文章唯一标识  
click_timestamp: 用户点击文章时的时间戳  
click_environment: 用户点击文章的环境  
click_deviceGroup: 用户点击文章的设备组  
click_os: 用户点击文章时的操作系统  
click_country: 用户点击文章时的所在的国家  
click_region: 用户点击文章时所在的区域  
click_referrer_type: 用户点击文章时，文章的来源

In [14]:
trn_click.user_id.nunique()  # nunique return value;  unique return arry

200000

In [17]:
trn_click.groupby(['user_id'])['click_article_id'].count().min()

2